body {
    min-height: 100vh;
    touch-action: manipulation;
}

.no-select, body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


.joystick {
    position: relative;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 200px;
    height: 200px;


}

.main-joystick {
    position: absolute;
    border-radius: 5%;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: gray;
}

.footer {
    position: fixed;
    bottom: 300px;
    left: 0px;
    width: 95%;
}

.message-button {
    width: 50px !important;
}